/*
* CSS Custom File
* Created by Seintica Web Developer
* seintica@gmail.com
*/
body{
  background-color: #020202;
}
#content{
  background-color: #fff;
  /*margin: 10px 75px 10px 75px;*/
  max-width: 920px;
  position: relative;
  margin-top: 5px;
  margin: auto;
  -moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-radius: 6px;
}
#slider{
  background-color: transparent;
  position: relative;
  max-width: 920px;
  margin: auto;
  border-radius: 6px;
}
#navigasi{
  position: relative;
  max-width: 920px;
  margin: auto;
  margin-top: 10px;
}
#logo2{
 margin-bottom: 10px; 
}
#nav2{
  position: right;
}
.row #downloadmarket{
  border-top: 10px solid #24ABE3;
  background: -webkit-linear-gradient(white, #D8D8D8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #D8D8D8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #D8D8D8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #D8D8D8); /* Standard syntax */
  padding-bottom: 10px;
  padding-top: 20px;
}
.footer{
  background-color: transparent;
  max-width: 920px;
  position: relative;
  margin: auto;
  color: #fff;
}
.footer h4{
  font-family: "Sakkal Majalla Regular";
  font-size: 32px;
  color: #24abe3;
}
.footer p{
  font-size: 14px;
}
.footer ul li a{
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
@media (min-width: 767px) {
 .footerKanan{
  padding-left: 110px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
 .footerKanan{
  padding-left: 15px;
  }
}
@media (max-width: 480px) {
  .footerKanan{
  padding-left: 15px;
  }
}
#sign{
  padding-top:20px;
}
#background_batik{
  background-image: url('../img/kulit.png');
  
  min-width: 100%;
  max-height: 505px;
}
.sidebar{
  padding: 20px 30px 10px 20px;
  font-size: 12px;
  text-align: justify;
  }
.postingan h3{
  font-size: 24px;
}
.postingan p{
  font-size: 14px;
  text-align: justify;
}
.postingan{
  padding: 20px 30px 20px 50px;
}
#elm1{
  font-size: 18px;
}
@font-face {
    font-family: 'Sakkal Majalla Regular';
    src: url('../fonts/majalla-webfont.eot');
    src: url('../fonts/majalla-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/majalla-webfont.woff') format('woff'),
         url('../fonts/majalla-webfont.ttf') format('truetype'),
         url('../fonts/majalla-webfont.svg#sakkal_majallaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.cusbut{
  margin-top: 90px;
  font-size: 25px;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 30px;
  margin-left: 0px;
}
#title_bar h1{
  font-family: "Sakkal Majalla Regular";
  font-weight: bold;
  font-size: 90px;
  color: #24abe3;
  text-align: center;
}
.custom_slide{
  font-family: "Sakkal Majalla Regular";
  font-weight: bold;
}
.navFont ul li a{
  
  font-weight: bold;
  font-size: 16px;
}
@media (min-width: 481px) and (max-width: 767px) {
 .logo{
     max-height: 90px;
     padding-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .logo {
    max-height: 50px;
    padding-bottom: 5px;
  }
}
.dashboard{
  background-color: #fff;
  /*margin: 10px 75px 10px 75px;*/
  max-width: 920px;
  position: relative;
  margin: auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  /*-moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;*/
}

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }