.responsive-slider {
  width: 100%;
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
}
.responsive-slider .touch-surface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-slider .slides {
  position: relative;
  overflow: hidden;
}
.responsive-slider .slides ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 0;
}
.responsive-slider .slides ul li {
  display: inline-block;
  max-width: 100%;
}
.responsive-slider .slides ul li .slide-body {
  display: inline-block;
  position: relative;
  max-width: 100%;
  font-size: 28px;
  font-weight: normal;
  margin: auto;
}
.responsive-slider .slides ul li .slide-body img {
  max-width: 100%;
}
.responsive-slider .slides ul li .slide-body .caption {
  position: absolute;
  color: #fff;
  text-shadow: 0px 1px 0px #000000;
}
.responsive-slider .slides ul li .slide-body .caption.header {
  top: 28%;
  left: 8%;
}
.responsive-slider .slides ul li .slide-body .caption.header.right{
  top: 15%;
  left: 38%;
}
.responsive-slider .slides ul li .slide-body .caption.header.title{
  top: 18%;
  left: 8%;
  bottom: 40%;
}
.responsive-slider .slides ul li .slide-body .caption.header h2 {
  font-size: 100px; 
  font-weight: bold; 
  margin-top: 0%;
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 70px;
    margin-top:-10%;
  }
}
@media (max-width: 480px) {
  .responsive-slider .slides ul li .slide-body .caption.header h2 {
    font-size: 40px;
    margin-top:-10%;
  }
}
.responsive-slider .slides ul li .slide-body .caption.sub {
  bottom: -20%;
  right: -20px;
  left: 20px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider .slides ul li .slide-body .caption.sub {
    font-size: 20px;
    bottom: -20px;
    right: -20px;
  }
}
@media (max-width: 480px) {
  .responsive-slider .slides ul li .slide-body .caption.sub {
    font-size: 10px;
    bottom: -15px;
    right: -20px;
  }
}
.responsive-slider .slides ul li .slide-body .caption.img-html5 {
  top: 12%;
  right: 1%;
  width: 30%;
}
.responsive-slider .slides ul li .slide-body .caption.img-html5 img {
  max-width: 65%;
}
.responsive-slider .slides ul li .slide-body .caption.img-css3 {
  top: 30%;
  right: 25%;
  width: 15%;
}
.responsive-slider .slides ul li .slide-body .caption.img-css3 img {
  max-width: 100%;
}
.responsive-slider .slides ul li .slide-body .caption.img-accurate {
  bottom: -20%;
  left: 0;
  width: 50%;
}
.responsive-slider .slides ul li .slide-body .caption.img-accurate img {
  max-width: 100%;
}
.responsive-slider .slides ul li .slide-body .caption.img-twitter {
  top: 19%;
  right: 12%;
  width: 11%;
}
.responsive-slider .slides ul li .slide-body .caption.img-twitter img {
  max-width: 70%;
}
.responsive-slider .slides ul li .slide-body .caption.img-simple {
  bottom: 0%;
  left: 0%;
  width: 65%;
}
.responsive-slider .slides ul li .slide-body .caption.img-simple img {
  max-width: 50%;
}
.responsive-slider .slides ul li .slide-body .caption.img-uf {
  top: 25%;
  right: -20%;
  width: 50%;
}
.responsive-slider .slides ul li .slide-body .caption.img-uf img {
  max-width: 75%;
}
.responsive-slider .slider-control {
  position: absolute;
  font-size: 20px;
  color: #000;
  top: 40%;
  background-color: transparent;
  padding: 10px;
}
.responsive-slider .slider-control.left {
  left: 0;
  padding-left: 0;
  -webkit-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 0px 0px 0px;
}
.responsive-slider .slider-control.left:hover {
  text-decoration: none;
  padding-left: 10px;
}
.responsive-slider .slider-control.right {
  right: 0;
  padding-right: 0;
  -webkit-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
}
.responsive-slider .slider-control.right:hover {
  text-decoration: none;
  padding-right: 10px;
}
@media (max-width: 480px) {
  .responsive-slider .slider-control.left,
  .responsive-slider .slider-control.right {
    display: none;
  }
}
.responsive-slider .pages {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.responsive-slider .pages .page {
  display: inline-block;
  color: transparent;
  width: 5px;
  height: 5px;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
}
.responsive-slider .pages .page.active {
  opacity: 1;
}